<!DOCTYPE html>
<html>

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="An advanced League of Legends champion builder">
  <meta name="theme-color" content="#5f9ea0">

  <link rel="manifest" href="manifest.webmanifest">
  <link rel="shortcut icon" href="/favicon.ico" />

  <base href="<%= htmlWebpackPlugin.options.baseUrl %>">

  <style>
    <%= require('./base.css') %>
  </style>
</head>

<body>
  <header>
    <div class="align-center">
      <a href="/" class="logo">
        <%= require('./assets/images/logo.svg') %>
      </a>
      <div>
        <h1>Legend Builder</h1>
        <a href="https://github.com/SteveVanOpstal/LegendBuilder/releases" class="version <%= htmlWebpackPlugin.options.version %>">
          <%= htmlWebpackPlugin.options.version %>
        </a>
      </div>
    </div>
  </header>
  <section class="content">
    <lb-app>
      <div class="loading">
        <%= require('./assets/images/load.svg') %>
      </div>
    </lb-app>
  </section>
  <footer>
    <nav class="align-center">
      <a href="/about">about</a>
      <span>-</span>
      <a href="https://github.com/SteveVanOpstal/LegendBuilder">github</a>
      <span>-</span>
      <a href="https://gitter.im/SteveVanOpstal/LegendBuilder">gitter</a>
      <span>-</span>
      <a href="https://www.reddit.com/r/legendbuilder">reddit</a>
    </nav>
  </footer>

  <% if (htmlWebpackPlugin.options.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="https://<%= htmlWebpackPlugin.options.host %>:<%= htmlWebpackPlugin.options.port %>/webpack-dev-server.js"></script>
  <% } %>

  <script src="https://unpkg.com/webfontloader@<%= htmlWebpackPlugin.options.dependencies['webfontloader'] %>"></script>

  <script src="https://unpkg.com/core-js@<%= htmlWebpackPlugin.options.dependencies['core-js'] %>/client/shim.min.js"></script>
  <script src="https://unpkg.com/zone.js@<%= htmlWebpackPlugin.options.dependencies['zone.js'] %>/dist/zone.min.js"></script>
  <script src="https://unpkg.com/reflect-metadata@<%= htmlWebpackPlugin.options.dependencies['reflect-metadata'] %>"></script>
  <script src="https://unpkg.com/rxjs@<%= htmlWebpackPlugin.options.dependencies['rxjs'] %>/bundles/Rx.min.js"></script>

  <script src="https://unpkg.com/@angular/core@<%= htmlWebpackPlugin.options.dependencies['@angular/core'] %>/bundles/core.umd.js"></script>
  <script src="https://unpkg.com/@angular/common@<%= htmlWebpackPlugin.options.dependencies['@angular/common'] %>/bundles/common.umd.js"></script>
  <script src="https://unpkg.com/@angular/compiler@<%= htmlWebpackPlugin.options.dependencies['@angular/compiler'] %>/bundles/compiler.umd.min.js"></script>
  <script src="https://unpkg.com/@angular/platform-browser@<%= htmlWebpackPlugin.options.dependencies['@angular/platform-browser'] %>/bundles/platform-browser.umd.min.js"></script>
  <script src="https://unpkg.com/@angular/platform-browser-dynamic@<%= htmlWebpackPlugin.options.dependencies['@angular/platform-browser-dynamic'] %>/bundles/platform-browser-dynamic.umd.min.js"></script>
  <script src="https://unpkg.com/@angular/http@<%= htmlWebpackPlugin.options.dependencies['@angular/http'] %>/bundles/http.umd.min.js"></script>
  <script src="https://unpkg.com/@angular/router@<%= htmlWebpackPlugin.options.dependencies['@angular/router'] %>/bundles/router.umd.min.js"></script>
  
  <script src="https://unpkg.com/ng-pipes@<%= htmlWebpackPlugin.options.dependencies['ng-pipes'] %>/dist/ng-pipes.umd.js"></script>

  <script src="https://unpkg.com/d3-path@<%= htmlWebpackPlugin.options.dependencies['d3-path'] %>/build/d3-path.min.js"></script>
  <script src="https://unpkg.com/d3-format@<%= htmlWebpackPlugin.options.dependencies['d3-format'] %>/build/d3-format.min.js"></script>
  <script src="https://unpkg.com/d3-array@<%= htmlWebpackPlugin.options.dependencies['d3-array'] %>/build/d3-array.min.js"></script>
  <script src="https://unpkg.com/d3-color@<%= htmlWebpackPlugin.options.dependencies['d3-color'] %>/build/d3-color.min.js"></script>
  <script src="https://unpkg.com/d3-interpolate@<%= htmlWebpackPlugin.options.dependencies['d3-interpolate'] %>/build/d3-interpolate.min.js"></script>
  <script src="https://unpkg.com/d3-axis@<%= htmlWebpackPlugin.options.dependencies['d3-axis'] %>/build/d3-axis.min.js"></script>
  <script src="https://unpkg.com/d3-scale@<%= htmlWebpackPlugin.options.dependencies['d3-scale'] %>/build/d3-scale.min.js"></script>
  <script src="https://unpkg.com/d3-selection@<%= htmlWebpackPlugin.options.dependencies['d3-selection'] %>/build/d3-selection.min.js"></script>
  <script src="https://unpkg.com/d3-shape@<%= htmlWebpackPlugin.options.dependencies['d3-shape'] %>/build/d3-shape.min.js"></script>
</body>

</html>