<!DOCTYPE html>
<html>

<head>
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="An advanced League of Legends champion builder">
  <meta name="theme-color" content="#5f9ea0">

  <link rel="manifest" href="manifest.webmanifest">
  <link rel="shortcut icon" href="/favicon.ico" />

  <base href="<%= htmlWebpackPlugin.options.baseUrl %>">

  <style>
    <%= require('./base.css') %>
  </style>
</head>

<body>
  <header>
    <div class="align-center">
      <a href="/" class="logo">
        <%= require('./assets/images/logo.svg') %>
      </a>
      <div>
        <h1>Legend Builder</h1>
        <a href="https://github.com/SteveVanOpstal/LegendBuilder/releases" class="version <%= htmlWebpackPlugin.options.version %>">
          <%= htmlWebpackPlugin.options.version %>
        </a>
      </div>
    </div>
  </header>
  <section class="content">
    <lb-app>
      <div class="loading">
        <%= require('./assets/images/load.svg') %>
      </div>
    </lb-app>
  </section>
  <footer>
    <nav class="align-center">
      <a href="/about">about</a>
      <span>-</span>
      <a href="https://github.com/SteveVanOpstal/LegendBuilder">github</a>
      <span>-</span>
      <a href="https://gitter.im/SteveVanOpstal/LegendBuilder">gitter</a>
      <span>-</span>
      <a href="https://www.reddit.com/r/legendbuilder">reddit</a>
    </nav>
  </footer>

  <% if (htmlWebpackPlugin.options.ENV === 'development') { %>
    <!-- Webpack Dev Server reload -->
    <script src="https://<%= htmlWebpackPlugin.options.host %>:<%= htmlWebpackPlugin.options.port %>/webpack-dev-server.js"></script>
  <% } %>

  <script src="https://unpkg.com/core-js@2.4.1/client/shim.min.js"></script>
  <script src="https://unpkg.com/zone.js@0.7.4/dist/zone.min.js"></script>
  <script src="https://unpkg.com/reflect-metadata@0.1.8"></script>
  <script src="https://unpkg.com/rxjs@5.0.0-rc.4/bundles/Rx.min.js"></script>

  <script src="https://unpkg.com/@angular/core@2.4.1/bundles/core.umd.js"></script>
  <script src="https://unpkg.com/@angular/common@2.4.1/bundles/common.umd.js"></script>
  <script src="https://unpkg.com/@angular/compiler@2.4.1/bundles/compiler.umd.min.js"></script>
  <script src="https://unpkg.com/@angular/platform-browser@2.4.1/bundles/platform-browser.umd.min.js"></script>
  <script src="https://unpkg.com/@angular/platform-browser-dynamic@2.4.1/bundles/platform-browser-dynamic.umd.min.js"></script>
  <script src="https://unpkg.com/@angular/http@2.4.1/bundles/http.umd.min.js"></script>
  <script src="https://unpkg.com/@angular/router@3.4.1/bundles/router.umd.min.js"></script>
  
  <script src="https://unpkg.com/ng-pipes@0.1.1/dist/ng-pipes.umd.js"></script>

  <script src="https://unpkg.com/d3-path@1.0.3/build/d3-path.min.js"></script>
  <script src="https://unpkg.com/d3-format@1.0.2/build/d3-format.min.js"></script>
  <script src="https://unpkg.com/d3-array@1.0.2/build/d3-array.min.js"></script>
  <script src="https://unpkg.com/d3-color@1.0.2/build/d3-color.min.js"></script>
  <script src="https://unpkg.com/d3-interpolate@1.1.2/build/d3-interpolate.min.js"></script>
  <script src="https://unpkg.com/d3-axis@1.0.4/build/d3-axis.min.js"></script>
  <script src="https://unpkg.com/d3-scale@1.0.4/build/d3-scale.min.js"></script>
  <script src="https://unpkg.com/d3-selection@1.0.3/build/d3-selection.min.js"></script>
  <script src="https://unpkg.com/d3-shape@1.0.4/build/d3-shape.min.js"></script>
</body>

</html>